<app-daily-bike></app-daily-bike>
<div class="login">
  <form (submit)="onlogin()" #loginData='ngForm'>
    Email
    <input
      type="text"
      name="login_email"
      required
      minlength="4"
      maxlength="24"
      [(ngModel)]="user.email"
      #email='ngModel'
    />
    Password
    <input
      type="text"
      name="login_password"
      required
      minlength="10"
      maxlength="24"
      pattern="^([a-zA-Z0-9@*#]{8,15})$"
      [(ngModel)]="user.password"
      #password='ngModel'
    />
    <button [disabled]="!loginData.form.valid" type='submit'>Login</button>
    <p *ngIf='this.user.length==0'>Login failed</p>
  </form>
</div>
<div class="register">
  <form (submit)="submitUser(formData)" #formData='ngForm'>
    First Name
    <input
      type="text"
      name="first_name"
      required
      minlength="2"
      maxlength="24"
      [(ngModel)]="user.first_name"
      #first_name='ngModel'
    />
    Last Name
    <input
      type="text"
      name="last_name"
      required
      minlength="2"
      maxlength="24"
      [(ngModel)]="user.last_name"
      #last_name='ngModel'
    />
    Email
    <input
      type="text"
      name="email"
      required
      minlength="4"
      maxlength="24"
      pattern="^[a-zA-Z0-9\.\+_-]+@[a-zA-Z0-9\._-]+\.[a-zA-Z]*$"
      [(ngModel)]="user.email"
      #email='ngModel'
    />
    <p *ngIf='!email.valid && user.email.length > 0'>Invalid email address</p>
    Password
    <input
      type="text"
      name="password"
      required
      minlength="10"
      maxlength="24"
      pattern="^([a-zA-Z0-9@*#]{8,15})$"
      [(ngModel)]="user.password"
      #password='ngModel'
    />
    <p *ngIf='!password.valid && user.password.length > 0'>Invalid password: <span *ngIf='password.errors.minlength.actualLength < password.errors.minlength.requiredLength'>Minimum should be 10 characters</span></p>
    <!-- password{{password.errors | json}}
    {{password.valid | json}} -->
    Password Confirmation
    <input
      type="text"
      name="passwordConfirm"
      required
      minlength="10"
      maxlength="24"
      pattern="^([a-zA-Z0-9@*#]{8,15})$"
      [(ngModel)]="user.passwordConfirm"
      #passwordConfirm='ngModel'
    />
    <p *ngIf="passwordConfirm.dirty && user.passwordConfirm != user.password"> Passwords do not match!</p>
    <button [disabled]="!formData.form.valid || user.passwordConfirm != user.password" type='submit'>Register</button>
  </form>
Email{{email.errors | json}}
{{email.valid | json}}
<!-- first name{{first_name.errors | json}}
{{first_name.valid | json}}
last name{{last_name.errors | json}}
{{last_name.valid | json}}
password{{password.errors | json}}
{{password.valid | json}}
passwordConfirm{{passwordConfirm.errors | json}}
{{passwordConfirm.valid | json}} -->
