<div class="wrapper">
  <input type="text" name="search" placeholder="search" [(ngModel)]='filter'>
  <!-- <button (click)='filter.title = null'>search</button> -->
  <div *ngFor = 'let content of bicycles | search:filter'>
    <!-- {{content | json}} -->
    <p>{{content.title}}</p>
    <p>{{content.description}}</p>
    <p>{{content.price}}</p>
    <p>{{content.location}}</p>
    <!-- {{myUserId}} | {{content._user}} -->
    <button type='submit' *ngIf='myUserId==content._user' (click)='deleteBicycle(content)'>Delete</button>
    <button type='submit' *ngIf='myUserId!=content._user' (click)='seeContact(content)'>Contact</button>
  </div>
</div>
