<div class="createBicycle">
  <form (submit)="submitBicycle()" #createData='ngForm'>
    Title
    <input
      type="text"
      name="title"
      required
      minlength="2"
      maxlength="24"
      [(ngModel)]="bicycle.title"
      #title='ngModel'
    />
    Description
    <input
      type="text"
      name="description"
      required
      minlength="20"
      maxlength="132"
      [(ngModel)]="bicycle.description"
      #description='ngModel'
    />
    Price
    <input
      type="text"
      name="price"
      required
      minlength="1"
      maxlength="8"
      [(ngModel)]="bicycle.price"
      #price='ngModel'
    />
    Location
    <input
      type="text"
      name="location"
      required
      minlength="2"
      maxlength="16"
      [(ngModel)]="bicycle.location"
      #location='ngModel'
    />
    <button [disabled]="!createData.form.valid" type='submit'>Create</button>
  </form>
